.moviesAddForm {
    padding: 1.5rem;
    border-radius: 4px;
    background-color: #fcfaf5;
    margin-top: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 20px;
}

.formControl {
    width: 500px;
    padding: 10px 10px;
    outline: none;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid grey;
}

.addFormBtn {
    padding: 10px 10px;
    margin-top: 9px;
    outline: none;
    transition: all .3s ease;
    border-radius: 4px;
    border: 1px solid grey;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addFormBtn:hover{
    background-color: black;
    color: white;
}